<form>
    <div class="row">
        <div class="col-4"></div>
        <div class="col-6">
            <label for="exampleInputEmail1" class="form-label mt-4">Nombre</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                placeholder="Ingrese el nombre de la accion">
        </div>
    </div>
    <div class="row">
        <div class="col-4"></div>
        <div class="col-6">
            <label for="exampleInputPassword1" class="form-label mt-4">Url</label>
            <input type="password" class="form-control" id="exampleInputPassword1"
                placeholder="Ingrese la url de la accion">
        </div>

    </div>
    <div class="row">
        <div class="col-4"></div>
        <div class="col-6">
            <button type="submit" id="add-button" class="btn btn-primary btn-lg">Agregar</button>
        </div>
    </div>
</form>